{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>

<!-- Important Note (e.g. Alpha Testing) -->
<div class="p-1 mb-0 bg-info text-white text-center">Alpha Testing!<br>This site is still under development!</div>

<!-- Misc -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" type="image/png"  href="{% static 'home/icons/Shake_Hands_Icon_0ea8b3.png' %}">
    <title>Hire A Refugee</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'home/icons/Shake_Hands_Icon_0ea8b3.png' %}" width="35" height="35" class="d-inline-block align-top">
    </a>
    <a class="navbar-brand" href="{% url 'home' %}">
        <span>Hire A Refugee</span> <span style="color:rgb(14, 168, 179)">
    </a>
    <!-- alpha testing -->
    <a class="navbar-brand" href="{% url 'home' %}">
        <span class="badge badge-info">v.0.1</span> </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:about' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Support Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'support:becomeamember' %}">Become A Member</a>
                    <a class="dropdown-item" href="{% url 'support:donate' %}">Donate</a>
                    <a class="dropdown-item" href="{% url 'support:helpcoding' %}">Help Coding</a>
                    <a class="dropdown-item" href="{% url 'support:spreadtheword' %}">Spread The Word</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'support:sponsors' %}">Sponsors</a>
                    <a class="dropdown-item" href="{% url 'support:thanks' %}">Thanks</a>
                </div>
            </li>
        </ul>
    <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <!-- User icons (home, settings, shortcut create) -->

                <!-- Create -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'home/icons/Heart Dark_000000.png' %}" width="20" height="20" class="d-inline-block align-top">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'useroffer:createuseroffer' %}">Create An Offer</a>
                        <a class="dropdown-item" href="{% url 'useroffer:currentuseroffers' %}">My Offers</a>
                        <a class="dropdown-item" href="{% url 'useroffer:completeduseroffers' %}">Completed Offers</a>
                      </div>
                </li>

                <!-- Map -->
                <li class="nav-item">
                    <a href="{% url 'world:map' %}" class="nav-link">
                        <img src="{% static 'home/icons/Map location_000000.png' %}" width="20" height="20" class="d-inline-block align-top">
                    </a>
                </li>

                <!-- Home -->
                <li class="nav-item">
                    <a href="{% url 'home:community' %}" class="nav-link">
                        <img src="{% static 'home/icons/Nice_House_Icon_0000ff.png' %}" width="20" height="20" class="d-inline-block align-top">
                    </a>
                </li>
                
                <!-- Messaging -->
                <li class="nav-item">
                    <a href="{% url 'userchat:index' %}" class="nav-link">
                        <img src="{% static 'home/icons/Mail Dark_000000.png' %}" width="20" height="20" class="d-inline-block align-top">
                    </a>
                </li>

                <!-- Settings -->
                <li class="nav-item">
                    <a href="{% url 'userclass:details' %}" class="nav-link">
                        <img src="{% static 'home/icons/Gear_000000.png' %}" width="20" height="20" class="d-inline-block align-top">
                    </a>
                </li>

                <!-- Logout -->
                <li class="nav-item">
                    <a href="#" onclick="$('#signOutBtn').click()" class="nav-link">
                        <img src="{% static 'home/icons/Door_000000.png' %}" width="20" height="20" class="d-inline-block align-top">
                    </a>
                    <form style='display: none;' method="POST" action="{% url 'userauth:logoutuser' %}">
                        {% csrf_token %}
                        <button id="signOutBtn" type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userauth:signupuser' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userauth:loginuser' %}">Login</a>
                </li>
                <li class="nav-item mx-1 my-1">
                    <a href="https://www.instagram.com/hirearefugee/" target="_blank">
                        <img src="{% static 'home/icons/instagram_bw.svg' %}" width="30" height="30" class="d-inline-block align-top">
                    </a>
                </li>
                <li class="nav-item mx-1 my-1">
                    <a href="https://github.com/maximilianharr/hirearefugee" target="_blank">
                        <img src="{% static 'home/icons/github_bw.svg' %}" width="30" height="30" class="d-inline-block align-top">
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>

<!-- Vertical line -->
<hr style="height:0.5px; background-color:rgb(255, 255, 255); margin-top: 0.0rem; margin-bottom: 0.0rem;">

<!-- Alert messages -->
{% if messages %}

<ul class="messages">
    {% for message in messages %}

    <!-- Alert box about alpha testing -->
    <script>
        alert( "{{ message }}" );
    </script>

    {% endfor %}
</ul>

{% endif %}

{% block content %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<div id="footer">
    <a class="link" id="footerlink" href="{% url 'home:disclaimer' %}">disclaimer</a> 
    <a class="link" id="footerlink" href="{% url 'home:cookies' %}">cookies</a>
    <a class="link" id="footerlink" href="{% url 'home:agb' %}">agb</a>
    <a class="link" id="footerlink" href="{% url 'home:imprint' %}">imprint</a>
</div>

</body>
</html>
