{% extends "useroffer/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1 style="color:rgb(14, 168, 179)">About Us</h1>
        <p>
            We are a group of volunteers that desire to provide a platform / network for refugees to find a job and get in contact with their local community.
        <br>
        <h5 style="color:rgb(14, 168, 179)">Help us spread the word!</h5>
        Go to your local municipality 
        <br>
        <br>
        <h5 style="color:rgb(14, 168, 179)">Join our team!</h5>
        Wheather you are a programmer, photographer, web designer, frontent or backend developer, app developer, lawyer, ... creating a website involves so many 
        </p>
    </div>
</div>


<!-- Learn more block -->
<!-- https://getbootstrap.com/docs/4.5/components/scrollspy/#list-item-2 -->

{% endblock %}
